body {
  background-color: black;
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    font-size: 20px;
  }
  button {
    background-color: #333;
    padding: 16px;
  }
  a {
    text-decoration: none;
  }
}
