body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
    font-size: 20px;
  }
  button {
    background-color: #333;
    padding: 16px;
  }
  a {
    text-align: center;
    color: blue;
    text-decoration: none;
  }
}
